$base-font-size: 20px;
$base-line-height: 6px;

$column-width: 390px;
$gutter: 15px;

$susy: (
  columns: 3,
  column-width: $column-width,
  gutters: $gutter/$column-width
);

$box-title-target-font-size: 22px;

$white: #ffffff;
$black: #000000;
$grey: #626e73;
$red: #e46262;
$darker-white: #b3afaf;
$dark: #272735;

$blue: #213a71;
$blue-transparent: transparentize($blue, .4);

@function em($pixels, $context: $base-font-size) {
  @return $pixels / $context * 1em;
}

$nav-font-size: 20px;
