$base-font-size: 16px;
$base-line-height: 6px;

$total-columns: 2;
$column-width: 14.375em;
$gutter-width: 0.750em;
$grid-padding: $gutter-width;
$wide-phone-break: 3;
$break: 4;

$white: #ffffff;
$black: #000000;
$grey: #626e73;
$red: #e46262;
$darker-white: #b3afaf;
$dark: #272735;
