@import "settings";
@import "normalize";
@import "susy";
@import "compass/typography/text/replacement";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";

@include border-box-sizing;

@include establish-baseline;

html {
  @include adjust-leading-to(4);

  @media (max-width: 599px) {
    @include adjust-font-size-to(18px);
  }

  @media (min-width: 600px) and (max-width: 699px) {
    @include adjust-font-size-to(19px);
  }
}

body {
  background: $white;
  font-family: 'niveau-grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 200;
}

h1 {
  @include adjust-font-size-to(34px);
  @include rhythm(4, 0, 0, 2, 34px);
}

h2 {
  @include adjust-font-size-to(30px);
  @include rhythm(4, 0, 0, 2, 30px);
}

a {
  color: $red;
}

p {
  @include rhythm(0, 0, 0, 4);

  &.ingress {
    @include adjust-font-size-to(24px);
    text-align: center;
    max-width: 36em;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 700px) {
      @include adjust-font-size-to(30px);
    }
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

hr {
  margin: rhythm(6) 0;
  height: 0;
  border: 0;
  border-top: 1px solid $white;
}

.container {
  max-width: 1637px;
  padding-left: $gutter;
  padding-right: $gutter;
}

.logo {
  float: left;
  margin-right: em(60px, $nav-font-size);
}

.logo__img {
   width: em(138px, $nav-font-size);
}

nav {
  @include rhythm(0, 2, 2, 0);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      display: none;
    }
  }

  li {
    display: block;
  }

  .current, .path {
    font-weight: 700;

    &>ul {
      li {
        font-weight: 400;

        &.current, &.path {
          font-weight: 700;
        }
      }
    }
  }

  a {
    @include adjust-font-size-to($nav-font-size);
    display: block;
    text-decoration: none;
  }

  .has-children.current, .has-children.path {
    display: block;

    &>ul {
      display: block;

      &>li {
        display: block;
      }
    }
  }
}

.main-nav {
  background: $white;
  box-shadow: 0 em(2px) em(13px) rgba(0, 0, 0, .14);
  position: relative;
  z-index: 10000;
  transition: transform .25s;
  width: 100%;

  &.stuck {
     position: fixed;
  }

  &.hidden {
    transform: translateY(-100%);
  }

  .container {
     overflow: hidden;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
  }

  a {
    color: $blue;
  }

  @media (min-width: 600px) {
    li {
      display: inline-block;
      padding-right: 1.25em;
      float: left;

      &.has-children.current, &.has-children.path {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}

.main {
  max-width: 1200px;
  margin: rhythm(5) auto;
}

.slider {
  margin-bottom: rhythm(5);
}

.boxes {
  overflow: hidden;

  @media (max-width: 499px) {
    font-size: $box-title-target-font-size / 699px * 100vw;
  }

  @media (min-width: 500px) and (max-width: 699px) {
    font-size: $box-title-target-font-size / 799px * 100vw;
  }

  @media (min-width: 700px) and (max-width: #{1200px + $gutter * 2 - 1px}) {
    font-size: $box-title-target-font-size / 1200px * 100vw;
  }

  @media (min-width: #{1200px + $gutter * 2}) {
    @include adjust-font-size-to($box-title-target-font-size, 4);
  }
}

.box {
  background-size: cover;
  background-position: center center;
  display: block;
  height: 0;
  position: relative;

  @media (max-width: 699px) {
    @include span(1 of 2);
    padding-bottom: 260px / 390px * span(1 of 2);
    margin-bottom: gutter(2);
  }

  @media (min-width: 700px) {
    @include span(1 of 3);
    padding-bottom: 260px / 390px * span(1 of 3);
    margin-bottom: gutter(3);
  }
}

.box--tall {
  @media (max-width: 699px) {
    padding-bottom: 535px / 390px * span(1 of 2);
  }

  @media (min-width: 700px) {
    padding-bottom: 535px / 390px * span(1 of 3);
  }
}

.box--wide {
  @media (max-width: 699px) {
    @include span(2 of 2);
    padding-bottom: 260px / 795px * span(2 of 2);
  }

  @media (min-width: 700px) {
    @include span(2 of 3);
    padding-bottom: 260px / 795px * span(2 of 3);
  }
}

.box--square {
  @media (max-width: 699px) {
    padding-bottom: span(1 of 2);
  }

  @media (min-width: 700px) {
    padding-bottom: span(1 of 3);
  }
}

.box--title {
  background: $blue;
  color: $white;

  h1 {
    font-size: 2em;
    margin: .5em 1em;
  }
}

.box {
  @media (max-width: 699px) {
    &:nth-child(2n) {
      @include last;
    }
  }

  @media (min-width: 700px) {
    &:nth-child(3n) {
      @include last;
    }
  }
}

.box__title {
  @include adjust-font-size-to($box-title-target-font-size, 4, $box-title-target-font-size);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: rhythm(2, $box-title-target-font-size);
  background: $blue-transparent;
  color: $white;
  transition: background .5s;

  .box:hover & {
    background: $blue;
  }
}

.box__title--opaque {
  background: transparentize($blue, .1);
}

.fake-li {
  display: list-item;
}

div.miika {
  background-color: black;
  color: white;
  position: relative;
  overflow: hidden;
}

.miika__image-wrapper {
  @media screen and (min-width: $miika-breakpoint) {
    @include span(5 of 9);
    height: 0;
    padding-bottom: (1200px / 2560px ) * 100%;
  }
}

.miika__image {
  @media screen and (min-width: $miika-breakpoint) {
    position: absolute;
    z-index: 1;
    bottom: 0;
  }
}

.miika__content {
  padding: rhythm(4) gutter();
  position: relative;
  z-index: 2;

  @media screen and (min-width: $miika-breakpoint) {
    @include span(last 4 of 9);
    padding-left: 0;
  }
}

[class^="nivo-"] {
  box-sizing: content-box;
}

.nivo-lightbox-theme-default {
  &.nivo-lightbox-overlay {
    background: #191919; /* 90% black on white. */
    background: rgba(0, 0, 0, 0.9);
  }

  .nivo-lightbox-image img {
    margin: 0 auto;
  }
}

footer {
  margin-top: rhythm(9);
  padding: rhythm(9) 0;
  clear: both;
  text-align: center;
  background: $blue;
  color: $white;

  ul {
     list-style: none;
     padding: 0;
  }

  h2 {
     @include adjust-font-size-to(30px);
  }
}

form {
  label {
    display: block;
    margin: 10px 0;
    overflow: hidden;

    b {
      @include span(1 of 4);
      text-align: right;
    }

    input, textarea {
      @include span(last 3 of 4);
    }
  }

  .actions {
    @include push(1 of 4);
  }
}

.btn, input[type="submit"] {
  background: $red;
  color: $dark;
  border: none;
  padding: .3em .8em;
  line-height: 1;
  display: inline-block;
}

.lg-backdrop {
  z-index: 10040;
}

.lg-outer {
  z-index: 10050;
}

.home {
  .box--wide {
    @media (max-width: 699px) {
      @include span(1 of 2);
      padding-bottom: 260px / 390px * span(1 of 2);
      margin-bottom: gutter(2);
    }
  }

  .box:nth-child(6) {
    float: left;
  }

  @media (max-width: 699px) {
    .box:nth-child(3),
    .box:nth-child(5),
    .box:last-child {
      @include last;
    }
  }

  @media (min-width: 700px) {
    .box:nth-child(3),
    .box:nth-child(4),
    .box:last-child {
      @include last;
    }
  }
}

.miika .main {
  margin-top: 0;
  margin-bottom: 0;
}

.miika footer {
  margin-top: 0;
}
