@import "settings";
@import "normalize";
@import "compass/typography/text/replacement";
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "susy";

@include border-box-sizing;

@include establish-baseline;

html {
    @include adjust-leading-to(4);
}

body {
    background: $white;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    @include rhythm(4, 0, 0, 2);
    font-weight: 400;
}

h1 {
    @include adjust-font-size-to(33px);
}

h2 {
    @include adjust-font-size-to(27px);
}

h3 {
    @include adjust-font-size-to(23px);
}

h4 {
    @include adjust-font-size-to(18px);
}

h5 {
    @include adjust-font-size-to(16px);
    font-weight: 700;
}

h6 {
    @include adjust-font-size-to(16px);
}

a {
    color: $red;
}

p {
    @include rhythm(0, 0, 0, 4);
}

.container {
    @include container($total-columns);

    @include at-breakpoint($wide-phone-break) {
        @include set-container-width;
    }

    @include at-breakpoint($break) {
        @include set-container-width;
    }
}

header {
    h1 {
        @include adjust-font-size-to(33px);
        @include rhythm(4, 0, 0, 1, 33px);

        a {
            display: block;
            font-family: "proxima-nova", sans-serif;
            font-weight: 100;
            color: $black;
            text-decoration: none;
        }
    }
}

nav {
    @include rhythm(0, 2, 2, 0);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        ul {
            display: none;
        }
    }

    li {
        display: block;
    }

    .current, .path {
        font-weight: 700;

        &>ul {
            li {
                font-weight: 400;

                &.current, &.path {
                    font-weight: 700;
                }
            }
        }
    }

    a {
        @include adjust-font-size-to(14px);
        display: block;
        text-decoration: none;
    }

    .has-children.current, .has-children.path {
        display: block;

        &>ul {
            display: block;

            &>li {
                display: block;
            }
        }
    }
}

.main-nav {
    @include trailer(9);
    background: $grey;

    a {
        color: $white;
    }

    @include at-breakpoint($wide-phone-break) {
        li {
            display: inline-block;
            padding-right: 1.25em;

            &.has-children.current, &.has-children.path {
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}

.boxes {
    @include pie-clearfix;
    @include trailer(-2);
}

.box {
    @include span-columns(1);
    @include nth-omega(2n);
    @include trailer(2);
    padding-bottom: columns(1);
    position: relative;
    display: block;
    height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: $white;
    box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 3px;

    span {
        @include rhythm(0, 5/3, 5/3, 0);
        padding-left: 1em;
        padding-right: 1em;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: auto;
        background: rgba(0, 0, 0, 0.8);
        z-index: 2;
    }

    &:after {
        transition: .2s;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        background: transparent;
        z-index: 1;
    }

    &:hover:after {
        background: rgba(0, 0, 0, 0.2);
    }

    @include at-breakpoint($break) {
        @include span-columns(1);
        @include remove-nth-omega(2n, $context: $total-columns);
        @include nth-omega(4n);
        padding-bottom: columns(1);
    }
}

footer {
    @include leader(9);
    @include leading-border(3px, 4);
    clear: both;
    border-top-color: $grey;
    text-align: center;
}

form {
    label {
        @include pie-clearfix;
        display: block;
        margin: 10px 0;

        b {
            @include span-columns(1, 4);
            text-align: right;
        }

        input, textarea {
            @include span-columns(3 omega, 4);
        }
    }

    .actions {
        @include push(1, 4);
    }
}


.btn, input[type="submit"] {
    background: $red;
    color: $dark;
    border: none;
    padding: .3em .8em;
    line-height: 1;
    display: inline-block;
}
