<a class="box" href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}" style="background-image: url('{{ site.baseurl }}/media/{{ post.box-image }}');"{% if post.image %} data-image="{{ site.baseurl }}/media/{{ post.image }}" data-lightbox-gallery="{{ post.categories }}"{% endif %}{% if post.video %} data-image="//www.youtube.com/watch?v={{ post.video }}"{% endif %}{% if post.lightbox_title %} title="{{ post.lightbox_title }}"{% endif %}{% if post.blank %} target="_blank"{% endif %}>
    {% unless post.hide_title_on_box %}<span>{{ post.title }}</span>{% endunless %}
</a>
