---
title: Etusivu
layout: default
permalink: /
extra_classes: home
boxes:
    -
        title: Hääkuvaus
        url: haakuvaus/
        image_name: haat.jpg
        variant: tall
        padding_bottom: 136.923076923077%
    -
        title: Toimeksiannot
        url: toimeksiannot/
        image_name: toimeksiannot.jpg
        variant: normal
        padding_bottom: 66,666666666667%
    -
        title: Muotokuvat
        url: muotokuvat/
        image_name: muotokuvat.jpg
        variant: normal
    -
        title: Maisemat
        url: maisemat/
        image_name: maisemat.jpg
        variant: wide
    -
        title: Liike
        url: liike/
        image_name: liike.jpg
        variant: normal
    -
        title: Miika Kangasniemi
        url: miika-kangasniemi/
        image_name: miika-kangasniemi.jpg
        variant: normal
    -
        title: Graafinen suunnittelu
        url: graafinen-suunnittelu/
        image_name: graafinen-suunnittelu.jpg
        variant: normal
        title_variant: opaque
slides:
    -
        image_name: revontulet.jpg
    -
        image_name: haat1.jpg
    -
        image_name: korut.jpg
    -
        image_name: lumilauta1.jpg
    -
        image_name: haat2.jpg
    -
        image_name: muotokuvat2.jpg
    -
        image_name: joulupukki.jpg
    -
        image_name: muotokuvat1.jpg
    
---

<p class="ingress" id="portfolio">
    Olen rovaniemeläinen valokuvaaja. Tarjoan hää-, henkilö-, tapahtuma- ja
    kiinteistökuvausta yksityishenkilöille sekä yrityksille. Teen myös
    graafista suunnittelua.
</p>

<div class="boxes">
    {% for box in page.boxes %}
        <a
         class="box  box--{{ box.variant }}"
         href="{{ site.baseurl }}/{{ box.url }}"
         style="background-image: url('{{ site.baseurl }}/media/home-boxes/{{ box.image_name }}');">
            <span class="box__title {% if box.title_variant %}box__title--{{ box.title_variant }}{% endif %}">{{ box.title }}</span>
        </a>
    {% endfor %}
</div>
