---
title: Etusivu
layout: default
permalink: /
boxes:
    -
        title: Häät
        url: haat
        image_name: haat.jpg
        variant: tall
        padding_bottom: 136.923076923077%
    -
        title: Toimeksiannot
        url: toimeksiannot
        image_name: toimeksiannot.jpg
        variant: normal
        padding_bottom: 66,666666666667%
    -
        title: Muotokuvat
        url: muotokuvat
        image_name: muotokuvat.jpg
        variant: normal
    -
        title: Maisemat
        url: maisemat
        image_name: maisemat.jpg
        variant: wide
    -
        title: Liike
        url: liike
        image_name: liike.jpg
        variant: normal
    -
        title: Miika Kangasniemi
        url: miika-kangasniemi
        image_name: miika-kangasniemi.jpg
        variant: normal
    -
        title: Graafinen suunnittelu
        url: graafinen-suunnittelu
        image_name: graafinen-suunnittelu.jpg
        variant: normal
        title_variant: opaque
slides:
    -
        image_name: korut.jpg
    -
        image_name: revontulet.jpg
    -
        image_name: saara.jpg
    -
        image_name: lumilauta1.jpg
    -
        image_name: ulla.jpg
    -
        image_name: lumilauta2.jpg
---

<div class="boxes">
    {% for box in page.boxes %}
        <a
         class="box  box--{{ box.variant }}"
         href="{{ site.baseurl }}/{{ box.url }}"
         style="background-image: url('{{ site.baseurl }}/media/home-boxes/{{ box.image_name }}');">
            <span class="box__title {% if box.title_variant %}box__title--{{ box.title_variant }}{% endif %}">{{ box.title }}</span>
        </a>
    {% endfor %}
</div>
