---
layout: default
---
{% if page.disable_title_box and page.enable_plain_title %}
    <h1>{{ page.title}}</h1>
{% endif %}
<div class="boxes">
    {% unless page.disable_title_box %}
        <div class="box  box--square  box--title">
            <h1>{{ page.title }}</h1>
        </div>
    {% endunless %}
    {% for post in site.categories[page.show_posts_from] %}
        <a
          class="box  box--square"
          href="{{ post.url }}"
          style="background-image: url('{{ site.baseurl }}/media/{{ post.images_path }}/thumb.jpg');"
          >
            <span class="box__title">{{ post.title }}</span>
        </a>
    {% endfor %}
</div>
