---
layout: default
---

{% if page.disable_title_box and page.enable_plain_title %}
    <h1>{{ page.title}}</h1>
{% endif %}
<div class="boxes  boxes--images">
    {% unless page.disable_title_box %}
        <div class="box  box--square  box--title">
            <h1>{{ page.title }}</h1>
        </div>
    {% endunless %}
      {% if page.image_count %}
          {% if page.reverse_images %}
              {% for i in (1..page.image_count) %}
                  <a
                    class="box  box--square"
                    href="{{ site.baseurl }}/media/{{ page.images_path }}/{{ forloop.rindex }}.jpg"
                    style="background-image: url('{{ site.baseurl }}/media/{{ page.images_path }}/thumb/{{ forloop.rindex }}.jpg');"
                  >
                  </a>
            {% endfor %}
          {% else %}
              {% for i in (1..page.image_count) %}
                  <a
                    class="box  box--square"
                    href="{{ site.baseurl }}/media/{{ page.images_path }}/{{ i }}.jpg"
                    style="background-image: url('{{ site.baseurl }}/media/{{ page.images_path }}/thumb/{{ i }}.jpg');"
                  >
                  </a>
            {% endfor %}
        {% endif %}
    {% else %}
        {% for image in page.images %}
            <a
              class="box  box--square"
              href="{{ site.baseurl }}/media/{{ page.images_path }}/{{ image.file }}"
              style="background-image: url('{{ site.baseurl }}/media/{{ page.images_path }}/thumb/{{ image.file }}');"
              >
                {% unless image.hide_name_on_box %}<span class="box__title">{{ image.name }}</span>{% endunless %}
            </a>
        {% endfor %}
    {% endif %}
</div>
